name: 03 - Workflow Runners

on: 
  push
jobs:
  ubuntu-echo:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "This job is running on an ubuntu runner."
          ecoh "Runner OS: $RUNNR_OS"